<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.uw.alice">
    <!-- APP请求数据必须网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Glide 您打算从url或通过网络连接加载图像，则应在INTERNET和中添加和ACCESS_NETWORK_STATE权限AndroidManifest.xml： -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Glide 要从本地文件夹（如DCIM或图片）加载图像，您需要添加READ_EXTERNAL_STORAGE权限： -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Glide 要用于ExternalPreferredCacheDiskCacheFactory将Glide的缓存存储在公共sdcard上，您需要使用 WRITE_EXTERNAL_STORAGE权限： -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:description="@string/activity_description_main" />
        <activity
            android:name=".ui.navigationA.ItemNewsDetailActivity"
            android:description="@string/activity_description_ItemNewsDetail"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationA.SearchNewsActivity"
            android:description="@string/activity_description_SearchNews"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationA.RealTimeHotSpotRankingActivity"
            android:description="@string/activity_description_RealTimeHotSpotRanking"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationB.movie.MovieDetailsActivity"
            android:description="@string/activity_description_MovieDetails"
            android:theme="@style/MovieDetailsActivityTheme" />
        <activity
            android:name=".ui.navigationB.filmmaker.FilmmakerDetailsActivity"
            android:description="@string/activity_description_FilmmakerDetails"
            android:theme="@style/FilmmakerDetailsActivityTheme" />
        <activity android:name=".ui.navigationB.filmmaker.FilmmakerPhotosActivity"
            android:description="@string/activity_description_FilmmakerPhotos"/>
        <activity
            android:name=".ui.navigationC.ItemTextJokeContentActivity"
            android:description="@string/activity_description_ItemTextJokeContent"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationD.QueryPhoneNumberActivity"
            android:description="@string/activity_description_QueryPhoneNumber"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationD.BingDailyWallpaperActivity"
            android:description="@string/activity_description_BingDailyWallpaper"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationD.BingLatelyWallpaperActivity"
            android:description="@string/activity_description_BingLatelyWallpaper"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationD.IntelligentChatRobotActivity"
            android:description="@string/activity_description_IntelligentChatRobot"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationD.InspirationalQuotationsActivity"
            android:description="@string/activity_description_InspirationalQuotations"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationD.CorpusOfIdiomsActivity"
            android:description="@string/activity_description_CorpusOfIdioms"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.navigationD.TaoModelsActivity"
            android:description="@string/activity_description_TaoModels"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.test.TestWidgetActivity"
            android:description="@string/activity_description_TestWidget" />
    </application>

</manifest>