<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uw.alice">
    <!-- APP请求数据必须网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Glide 您打算从url或通过网络连接加载图像，则应在INTERNET和中添加和ACCESS_NETWORK_STATE权限AndroidManifest.xml： -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Glide 要从本地文件夹（如DCIM或图片）加载图像，您需要添加READ_EXTERNAL_STORAGE权限： -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Glide 要用于ExternalPreferredCacheDiskCacheFactory将Glide的缓存存储在公共sdcard上，您需要使用 WRITE_EXTERNAL_STORAGE权限： -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.modular.weather.activity.CityManagementActivity"></activity>
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/splashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:description="@string/activity_description_main" />
        <activity
            android:name=".ui.activity.ItemNewsDetailActivity"
            android:description="@string/activity_description_ItemNewsDetail"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.activity.SearchNewsActivity"
            android:description="@string/activity_description_SearchNews"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.activity.RealTimeHotSpotRankingActivity"
            android:description="@string/activity_description_RealTimeHotSpotRanking"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.activity.MovieDetailsActivity"
            android:description="@string/activity_description_MovieDetails"
            android:theme="@style/MovieDetailsActivityTheme" />
        <activity
            android:name=".ui.modular.joke.activity.ItemTextJokeContentActivity"
            android:description="@string/activity_description_ItemTextJokeContent"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.QueryPhoneNumberActivity"
            android:description="@string/activity_description_QueryPhoneNumber"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.bing.activity.WallpaperHorizontalPageActivity"
            android:description="@string/activity_description_WallpaperHorizontalPageActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.bing.activity.WallpaperVerticalPageActivity"
            android:description="@string/activity_description_WallpaperVerticalPageActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.bing.activity.BingWallpaperListActivity"
            android:description="@string/activity_description_BingWallpaperListActivity"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.chat.ChatRobotActivity"
            android:description="@string/activity_description_IntelligentChatRobot"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.joke.activity.GraphicJokesActivity"
            android:description="@string/activity_description_IntelligentChatRobot" />
        <activity
            android:name=".ui.modular.quotation.EnglishQuotationsActivity"
            android:description="@string/activity_description_InspirationalQuotations"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.idiom.activity.CorpusOfIdiomsActivity"
            android:description="@string/activity_description_CorpusOfIdioms"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.model.activity.TaoModelsActivity"
            android:description="@string/activity_description_TaoModels"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.show.TestWidgetActivity"
            android:description="@string/activity_description_TestWidget"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.show.FragmentContainerActivity"
            android:description="@string/activity_description_Container"
            android:theme="@style/CommonTheme" />
        <activity
            android:name=".ui.modular.weather.activity.CityWeatherDetailsActivity"
            android:description="@string/activity_description_weather" />
    </application>

</manifest>